/*mixin*/
@mixin grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 0.5rem;
    grid-row-gap: 0px;
}

@mixin flex{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

@mixin div-principal{
    display: grid;
    align-items: center;
    justify-content: center;
}

@mixin div-secundario{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: 1px solid black;
    margin: 0.5rem;
    text-decoration: none;
}

@mixin contenedor{
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:0.5rem;
   
}

@mixin item{
    display: flex;
    flex-direction: column;
    background-color: $color-secundario;
    padding: 1rem;
    margin: 1rem;
    width: 80%;
}

