@import "../_utilidades.scss/mixin";
@import "../_utilidades.scss/variables";

.contenedor{
    .item{
        h1{
          text-align: center;
        }
        .contacto{
          
          a{
           img:hover{
              transform: scale(0.5);
           } 
          }
        }
        img{
            width: 30%;          
        }
        
    }
}
