//import variables

@import "..//_utilidades.scss/variables";
@import "../_utilidades.scss/mixin";

//estilos

.contenedor{
       @include contenedor;
       background-image: linear-gradient(#74a7e4, transparent);
       h2{
              padding-top: 1rem;
              text-align: center;
       }
       .conoceme{
        display: grid;
        grid-template-columns:1fr;
        grid-template-rows: 1fr 0.5fr;
        gap: 1rem;
        text-align: justify;
        padding: 2rem;
        
        div{
             
              img{
                     width: 50%;
                     
              }

        }
       }
        
}
